<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yuanxin.solr.generator.mapper.BuiltTableInfoMapper">

    <!-- 可根据自己的需求，是否要使用 built_table_info [com.gzcr.generator.modules.entity.ColumnEntity@7502d71e, com.gzcr.generator.modules.entity.ColumnEntity@7b35fd13, com.gzcr.generator.modules.entity.ColumnEntity@47f784aa, com.gzcr.generator.modules.entity.ColumnEntity@4d648564, com.gzcr.generator.modules.entity.ColumnEntity@2ebd01f1, com.gzcr.generator.modules.entity.ColumnEntity@7a34ac50] -->
    <resultMap type="yuanxin.solr.generator.entity.BuiltTableInfo" id="builtTableInfoMap">
        <result property="databaseName" column="database_name"/>
        <result property="tableName" column="table_name"/>
        <result property="columnName" column="column_name"/>
        <result property="columnType" column="column_type"/>
        <result property="columnInfo" column="column_info"/>
    </resultMap>

    <!-- 通用查询结果列 111-->
    <sql id="Base_Column_List">
        database_name AS databaseName,
                table_name AS tableName,
                column_name AS columnName,
                column_type AS columnType,
                column_info AS columnInfo,
    </sql>


    <!-- mybatis plus where -->
    <sql id="entityWrapperJoin">
        <where>
            <if test="ew != null">
                <if test="ew.entity != null">
                    <if test="ew.entity.${column.propertyName}!=null">
                        AND a.database_name=#{ew.entity.${field.attrname}}
                    </if>
                    <if test="ew.entity.${column.propertyName}!=null">
                        AND a.table_name=#{ew.entity.${field.attrname}}
                    </if>
                    <if test="ew.entity.${column.propertyName}!=null">
                        AND a.column_name=#{ew.entity.${field.attrname}}
                    </if>
                    <if test="ew.entity.${column.propertyName}!=null">
                        AND a.column_type=#{ew.entity.${field.attrname}}
                    </if>
                    <if test="ew.entity.${column.propertyName}!=null">
                        AND a.column_info=#{ew.entity.${field.attrname}}
                    </if>
                </if>
                <if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                    ${ew.sqlSegment}
                </if>
            </if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
    </sql>
    <select id="getColumnInfoList" resultType="yuanxin.solr.generator.entity.BuiltTableInfo">
        SELECT COLUMN_NAME as columnName, DATA_TYPE as columnType, COLUMN_COMMENT as columnInfo
        FROM information_schema.`COLUMNS`
        where TABLE_SCHEMA = #{databaseName}
          and TABLE_NAME = #{tableName}
    </select>


</mapper>